<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Title in the tab</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div>
			<h1>BLANK</h1>
			<section class = "line-1">
				<h2>7</h2>
				<h2>8</h2>
				<h2>9</h2>
				<h2>/</h2>
			</section>
			<section class = "line-2">
				<h2>4</h2>
				<h2>5</h2>
				<h2>6</h2>
				<h2>X</h2>
			</section>
			<section class = "line-3">
				<h2>1</h2>
				<h2>2</h2>
				<h2>3</h2>
				<h2>+</h2>
			</section>
			<section class = "line-4">
				<h2>0</h2>	
				<h2>.</h2>
				<h2>=</h2>
				<h2>-</h2>	
			</section>
		</div>



		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
