/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html{
  width: 100%;
  font-size: 10px;
} 

div {
  width: 100rem;
  display: flex;  
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-grow: 1; */
  /* margin: -25px 0 0 -25px; */
}

h2 {
  font-size: 100px;
  text-align: center;
}
h1 {
  font-size: 100px;
  text-align: center;
  width: 100%;
}

section {
  width: 25%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/


